.white{
  background-color: white;
}
.silver{
  background-color: silver;
}
#board{
  border: solid 1px black;
  width: 80vw;
  height: 80vw;
}
.cell{
  display: inline-block;
  width: 10vw;
  height: 10vw;
  font-size: 7vw;
  text-align: center;
  vertical-align: middle;
  cursor: default;
}
.row{
  height: 10vw;
}
.highlight{
  /*box-shadow: 0 0 .25vw .25vw #f44b59;*/
  background-color: yellow;
}
.highlight-select{
  /*box-shadow: 0 0 .25vw .25vw #9ecaed;*/
  background-color:yellow;
}
